/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    /* spacer (padding, margin) */
    --spacer: 1rem;
    --spacers-0: calc(var(--spacer) * 0);
    --spacers-1: calc(var(--spacer) * 0.25);
    --spacers-2: calc(var(--spacer) * 0.5);
    --spacers-3: var(--spacer);
    --spacers-4: calc(var(--spacer) * 1.5);
    --spacers-5: calc(var(--spacer) * 3);

    /*color  */
    --primary-color: #5e78ff;
    --error-color: #ff3a3a;
    --text-color: #000;
    --text-light-color: #595959;
    --exercise-bg-color: #fff;
    --white-color: #fff;
    --black-color: #000;
    --line-color: #0000001a;
    --pagination-color: #ff3a3a;
    --thead-color: #ebebeb;

    /* action btn color */
    --add-color: #00b909;
    --search-color: #ffc107;
    --edit-color: #5e78ff;
    --confirm-edit-color: #9846fc;
    --remove-edit-color: #fb2424;
    --delete-color: #ff3a3a;
    --filter-color: #20ea4c;
    --clear-filter-color: #f4d527;

    --add-hover-color: #007c1b;
    --search-hover-color: #d19f07;
    --edit-hover-color: #0e34f1;
    --delete-hover-color: #d61313;
    --clear-filter-hover-color: #d7b806;
    --filter-hover-color: #00b327;
    --confirm-edit-hover-color-color: #7612f0;
    --remove-edit-hover-color: #ef0b0b;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--primary-color);
    padding: 40px;
}

ul li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    background: none;
    margin: 0 3px;
}

::selection {
    background: var(--primary-color);
    color: var(--white-color);
}

/* margin-top */
.mt-0 {
    margin-top: var(--spacers-0);
}

.mt-1 {
    margin-top: var(--spacers-1);
}

.mt-2 {
    margin-top: var(--spacers-2);
}

.mt-3 {
    margin-top: var(--spacers-3);
}

.mt-4 {
    margin-top: var(--spacers-4);
}

.mt-5 {
    margin-top: var(--spacers-5);
}

/* margin-right */
.mr-2 {
    margin-right: var(--spacers-2);
}

/* test alignment */
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: var(--error-color)
}

#root {
    max-width: 1010px;
    width: 100%;
    background: var(--exercise-bg-color);
    border-radius: 15px;
    padding: 45px 60px;
}

/* action btn table */
.action-btn i {
    cursor: pointer;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    border: none;
    border-radius: 5px;
    background: none;
    color: var(--white-color);
    transition: all 0.2s ease-in-out;
}

.add-btn i {
    background: var(--add-color);
}

.add-btn:hover i {
    background: var(--add-hover-color);
}

.search-btn i {
    background: var(--search-color);
}

.search-btn:hover i {
    background: var(--search-hover-color);
}

.edit-btn i {
    background: var(--edit-color);
}

.edit-btn:hover i {
    background: var(--edit-hover-color);
}

.delete-btn i {
    background: var(--delete-color);
}

.delete-btn:hover i {
    background: var(--delete-hover-color);
}

.clear-filter-btn i {
    background: var(--clear-filter-color);
}

.clear-filter-btn:hover i {
    background: var(--clear-filter-hover-color);
}

.filter-btn i {
    background: var(--filter-color);
}

.filter-btn:hover i {
    background: var(--filter-hover-color);
}

.confirm-edit-btn i,
.confirm-add-btn i {
    background: var(--confirm-edit-color);
}

.confirm-edit-btn:hover i,
.confirm-add-btn:hover i {
    background: var(--confirm-edit-hover-color-color);
}

.remove-edit-btn i,
.remove-add-btn i {
    background: var(--remove-edit-color);
}

.remove-edit-btn:hover i,
.remove-add-btn:hover i {
    background: var(--remove-edit-hover-color);
}

.head-action-container {
    margin: 20px 0;
}

.select-page-size {
    width: 70px;
    padding: 5px 10px;
    margin-left: 15px;
}

/* table */
.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    white-space: nowrap;
}

.table thead {
    background: var(--thead-color);
}

.table th,
.table td {
    padding: 0.75rem;
}

.table-vertical-middle th,
.table-vertical-middle td {
    vertical-align: middle
}

.table-collapse {
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table input,
.table select {
    padding: 5px 10px;
    width: 100%;
}

.table thead tr.search-row,
.table thead tr.add-row {
    background-color: var(--white-color);
}

.table .hidden,
.pagination-container .hidden {
    display: none;
}


@media (max-width: 991px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .table-responsive-lg>.table-bordered {
        border: 0;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-responsive>.table-bordered {
    border: 0;
}

/* pagination */
.pagination-container {
    margin-top: 10px;
}

.pagination-container,
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    justify-content: center;
}

.pages-list {
    display: flex;
    justify-content: left;
    list-style: none;
}


.pagination li.active {
    color: #fff;
    background: #20B2AA;
    border-radius: 10px;
}

.pagination li {
    color: var(--text-color);
    padding: 10px 16px;
    margin-right: 5px;
}

.pagination li.number-page:hover,
.pagination li.prev-btn:hover,
.pagination li.next-btn:hover,
.pagination li.last-btn:hover {
    cursor: pointer;
    color: #fff;
    background: #20B2AA;
    border-radius: 10px;
}